@import "_variables.scss";

body {
	background: $backcolor; 
}

.LogoText {
	color: #B575D6;
	font-size: 2.25em;
	max-width: 50%;
	margin: 0px;
	font-family: $fontfamily;
}

#mainphoto {
	float: right;
	width: 30%;
	display: block;
	margin-left: 50px;
	text-align: center;

	img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 50%;
	}
}

#blogpost {
	float: right;
	width: 30%;
	height: 510px;
	display: block;
	margin: 5px 20px 2px 40px;
	text-align: justify;
	background: #2E2E8A;
	clear: both;
	color: white;

}



.menuSlide {
	background-color: #5c5c4a;
	width: 175px;
	height: 1000px;
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	font-family: $fontfamily;
	position: absolute;
	z-index: 1;
	text-align: center;


	li {
		list-style-type: none;
		text-decoration: none;
		border-bottom: 2px solid black;
	}
	a {
		display: block;
		text-decoration: none;
		color: white;
		margin-top: 10px;
	}
}




#artist {
	float: left;
	margin: 20px 10px;
	width: 50%;

	img {
		width: 100%;
	}
	#inGarb {
		display: none;
	}
}

.btn {
	padding: 15px 30px;
	margin: 40px 0;
	color: white;
	background: #3333ff;
	border-radius: 25px;
	clear: both;
	width: 100px;
	text-align: center;
}

#aboutText {
	width: 45%;
	float: right;
	color: white;
	background: #3333ff;
	margin: 20px 10px;

	p {

	}

	span {
		font-weight: bold;
	}

	#scaText {
		display: none;
	}
}

// The div buttons for z-index

.galleryBtn {
	height: 250px;
	width: 60%;
	opacity: .7;
	background-color: $backcolor;
	text-align: center;
	color: white;
	font-size: 5em;
	font-weight: bold;
	margin: 5px;
	font-family: 'Kaushan Script', 'cursive';

	
	a{
		text-decoration: none;
		color: white;
		opacity: 1;
	}
}

#glassBtn{
	background-image: url('../img/spikebeads.jpg');
	background-size: cover;
}

#bookBtn {
	background-image: url('../img/Bookgears.jpg');
	background-size: cover;
}

#miscBtn {
	background-image: url('../img/scribal.jpg');
	background-size: cover;
}

@media only screen 
and (min-width : 319px)
and (max-width : 768px) {
	.galleryBtn {
		font-size: 2.5em;
			
	} 
}