@import "_variables.scss";

body {
	background: #666 $backgroundImage repeat;
}

h1 {
	color: red;
	background: blue;
	width: 300px;
	border-radius: 5px;
	text-align: center;
}

#placeHolder {
	width: 50%;
	img{
		width: 100%;
	}
}