/* line 3, main.scss */
body {
  background: #666666 url("../img/Ptexture.jpg") repeat;
}

/* line 7, main.scss */
.LogoText {
  color: #3333ff;
  float: left;
  font-size: 2.25em;
  width: 50%;
  margin: 0px;
  font-family: "Playfair Display SC", "serif";
}

/* line 21, main.scss */
.navItem li {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  float: right;
  margin: 0px 2px;
  margin-top: 5px;
  background-color: #3333ff;
  border-radius: 5px;
  text-align: center;
  width: 50px;
  height: 30px;
  font-weight: bold;
  font-size: .75em;
  font-family: "Playfair Display SC", "serif";
}
/* line 38, main.scss */
.navItem a {
  display: block;
  text-decoration: none;
  color: white;
}

/* line 48, main.scss */
#artist {
  float: left;
  margin: 40px 10px;
  width: 50%;
}
/* line 53, main.scss */
#artist img {
  width: 100%;
}
/* line 56, main.scss */
#artist #inGarb {
  display: none;
}

/* line 61, main.scss */
.btn {
  padding: 15px 30px;
  margin: 40px 0;
  color: white;
  background: #3333ff;
  border-radius: 25px;
  clear: both;
  width: 100px;
  text-align: center;
}

/* line 72, main.scss */
#aboutText {
  width: 45%;
  float: right;
  color: white;
  background: #3333ff;
  margin: 40px 10px;
}
/* line 83, main.scss */
#aboutText span {
  font-weight: bold;
}
/* line 87, main.scss */
#aboutText #scaText {
  display: none;
}
